html{
  scroll-padding-top: 250px;
  scroll-behavior: smooth;
}

.reveal{
opacity:0;
transform:translateY(60px);
transition:all 0.8s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Cinzel", serif;
  background-color: #e8e7f6;
  padding-top: 250px;
  overflow-x:hidden;
}

header{
  display:flex;
  flex-direction:column;
  align-items:center;

  position:fixed;
  top:0;
  left:0;

  width:100%;
  box-sizing:border-box;

  background-image:url("../img/recursos/background.png");
  background-size:cover;
  background-position:center;

  color:white;
  z-index:1000;
}

.logo{
transition:1.5s;
}

header.shrink .logo{
opacity:0;
height:0;
}

nav{
  display:flex;
  justify-content:center;
  gap:30px;

  width:100%;
  max-width:1000px;

  flex-wrap:wrap;
}

nav a{
  text-decoration:none;
  color:white;
  font-weight:bold;
  font-size:20px;

  padding:8px 14px;
  border-radius:6px;
}

nav a:hover{
  background-color: rgba(255,255,255,0.2);
}

nav ul{
  display: flex;
  list-style: none;
  color: white;
  gap: 30px;
  padding: 0;
  margin-top: 15px;
}


.hero{
text-align:center;
padding:80px;
background:#f5e6ca;
}

.productos-container{
display:flex;
gap:55px;
justify-content:center;
flex-wrap:wrap;
}

.producto{
width:100%;
max-width:500px;
text-align:center;
color:#340F72;

background:white;
padding:20px;
border-radius:12px;

box-shadow:0 8px 20px rgba(0,0,0,0.08);
transition:transform 0.3s ease, box-shadow 0.3s ease;
}

.producto:hover{
transform: translateY(-5px);
box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.producto img{
width:100%;
border-radius:10px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
height:300px;
object-fit:cover;
border-radius:10px;
}

section{
padding:50px;
text-align: center;

}

.eslogan{
font-size: x-large;
text-align: center;
}

.nosotros{
font-size: x-large;
text-align: center;
}

.horario{
font-size: x-large;
text-align: center;
}

.direccion{
font-size: x-large;
}

.telefono{
font-size: x-large;
}

h1, h2{
  font-family: "Cinzel", serif;
}

h1{
color: #340F72;
text-align: center;
position: relative;
}

h1::after {
  content: "";
  display: block;
  width:60%;
  max-width:400px;
  height: 3px;
  background: #340F72;
  margin: 10px auto;
}

h2{
color: #340F72;
}

.sobre-nosotros{
color: #340F72;
text-align: center;
position: relative;
}

.sobre-nosotros::after {
content: "";
display: block;
width: 300px;
height: 3px;
background: #340F72;
margin: 10px auto;
}

.donde-estamos{
color: #340F72;
text-align: center;
position: relative;
}

.donde-estamos::after {
content: "";
display: block;
width: 280px;
height: 3px;
background: #340F72;
margin: 10px auto;
}

.contacto{
color: #340F72;
text-align: center;
position: relative;
}

.contacto::after {
  content: "";
  display: block;
  width: 200px;
  height: 3px;
  background: #340F72;
  margin: 10px auto;
}

.whatsapp{
  display: flex;
  align-items: center;
  gap: 10px;
  background: #25D366;
  color: white;
  padding: 10px 18px;
  border-radius: 80px;
  text-decoration: none;
  width: fit-content;
  font-weight: 600;
  margin: 0 auto;
}

.reseña{
color: #340F72;
text-align: center;
position: relative;
}

.reseña::after {
  content: "";
  display: block;
  width:80%;
  max-width:1000px;
  height: 3px;
  background: #340F72;
  margin: 10px auto;
}

.whatsapp-btn{
position:fixed;
bottom:20px;
right:20px;

background:#25D366;
color:white;

width:95px;
height:95px;

border-radius:50%;

display:flex;
align-items:center;
justify-content:center;

font-size:30px;

text-decoration:none;

box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

footer{
  text-align:center;
  color:white;
  padding:30px 20px;

  background: url("../img/recursos/background.png");

  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;

  width:100%;
  box-sizing:border-box;
}

.footer-text{
font-size:15px;
}

@media (max-width: 768px){

header{
flex-direction:column;
align-items:center;
}

nav{
margin-top:10px;
gap:15px;
}

nav a{
font-size:16px;
}

.hero{
padding:40px 20px;
}

.productos-container{
flex-direction:column;
align-items:center;
}

.producto{
width:90%;
}


}
